@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');





.title {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    line-height: 1;
    font-size: 8rem;
    color: #aaa;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    font-size: 200px;
    font-variation-settings: 'wght' 100, 'wdth' 100;
    animation: font-animation 4s infinite forwards cubic-bezier(0.48, 0.04, 0.52, 0.96);
}

@keyframes font-animation {
    60% {
        font-variation-settings: 'wght' 900, 'wdth' 100;
    }

    100% {
        font-variation-settings: 'wght' 100, 'wdth' 100;
        
    }
}

.next {
    width: 100vw;
    height: 20vh;
    text-align: center;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #fff;
        --mask:
            radial-gradient(3.05vw at 50% 4.3vw, #000 99%, #0000 101%) calc(50% - 4vw) 0/8vw 100%,
            radial-gradient(3.05vw at 50% -2.3vw, #0000 99%, #000 101%) 50% 2vw/8vw 100% repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
}
.subtitle {
    margin-top:50px;
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: center;
    font-size:x-large;
    height: fit-content;
    color: #aaa;
    text-align: center;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    background-color: #000;
    font-style: normal;
}
    
.subtitle:before,
.subtitle:after {
    content: '';
    width: 150px;
    height: 2px;
    margin: 0 10px;
    background: #ccc;
    display: inline-block;
    vertical-align: middle;
}

.sub-subtitle {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0 20px;
    font-size: large;
    height: fit-content;
    color: #aaa;
    text-align: center;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    background-color: #000;
    font-style: normal;
}

.sub-subtitle:before,
.sub-subtitle:after {
    content: '';
    width: 20px;
    height: 1px;
    margin: 0 10px;
    background: #ccc;
    display: inline-block;
    vertical-align: middle;
}


.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows:auto;
    background-color: #000;
    color: #aaa;
}

.threewaywrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3, calc(100vw / 3));
    grid-template-rows: fit-content;
    background-color: #000;
    color: #aaa;
}


.highlight-blue {
    color: #66f;
}
.highlight-red {
    color: #f66;
}
.highlight-white {
    color: #fff;
}

.highlight-orange {
    color: #faa;
}

.highlight-skyblue {
    color: skyblue;
}

.highlight-darkgrey {
    color: #777;
}

.highlight-irongrey {
    color: #555;
}

.content {
    height: fit-content;
    padding: 10px;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    .bold {
        font-weight: 900;
        color: #bcb;
    }
}


.nebulae-img {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Trifid_Nebula_by_Deddy_Dayag.jpg/640px-Trifid_Nebula_by_Deddy_Dayag.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.protostar-img {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/NGC_1333-IRAS_4B.tif/lossy-page1-600px-NGC_1333-IRAS_4B.tif.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 0 8px 8px #000 inset;
}

.main-seq-image {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819.jpg/628px-The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 0 8px 8px #000 inset;
}

.red-giant-img {
    background: url("https://upload.wikimedia.org/wikipedia/commons/5/52/Red_giant_simulation_4_%28cropped%29.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 0 8px 8px #000 inset;
}

.white-dwarf-img {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Van_maanen.png/480px-Van_maanen.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 0 8px 8px #000 inset;
}

.black-dwarf-img {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Black_dwarf_star-bpk.jpg/640px-Black_dwarf_star-bpk.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    filter:brightness(200%);
    background-position: 50% 50%;
    box-shadow: 0 0 128px 64px #000 inset;
}

.massive-star-img {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/B-type_main_sequence_star_1.png/640px-B-type_main_sequence_star_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 0 8px 8px #000 inset;
}

.red-super-giant-img {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Artist’s_impression_of_the_red_supergiant_star_Antares.jpg/640px-Artist’s_impression_of_the_red_supergiant_star_Antares.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 0 8px 8px #000 inset;
}

.supernova-img {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Keplers_supernova.jpg/480px-Keplers_supernova.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    box-shadow: 0 0 8px 8px #000 inset;
}
